html, body,{
    margin: 0px;
    padding: 0px;
    width: 100%;
    height: 100%;
}

@import url('https://fonts.googleapis.com/css?family=PT+Mono');
@media print {
    #scanner, #nav, #github-link {
        display: none;
    }
    #content {
        color: #000000;
    }
    #content a {
        color: #000000;
        text-decoration: underline;
    }
    #content a.but {
        border: none;
        padding: 0;
    }
    code {
        border: none !important;
    }
}
#scanner {
  z-index: 99999;
  width: 100%;
  height: 1px;
  background-color: #00ff00;
  position: fixed;
  -webkit-animation-name: scanner;
  -webkit-animation-duration: 6s;
  -webkit-animation-iteration-count: infinite;
  animation-name: scanner;
  animation-duration: 3s;
  animation-iteration-count: infinite;
}
@-webkit-keyframes scanner {
  0%   {left: 0px; top: 0px;}
  50%  {left: 0px; top: 50px;}
  100% {left: 0px; top: 0px;}
}
@keyframes scanner {
  0%   {left: 0px; top: 0px;}
  50%  {left: 0px; top: 50px;}
  100% {left: 0px; top: 0px;}
}
#nav {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 50px;
  background-color: #000000;
  color: #00ff00;
  list-style-type: none;
  margin: 0;
  padding: 0;
  overflow: hidden;
}
ul#nav li {
  float: left;
  display: block;
  text-align: center;
  padding: 18px 16px 14px;
  text-decoration: none;
}
ul#nav li a {
  text-decoration: none;
}

ul#nav li a:hover {
    color:white;
    font-weight: 400;
}

ul#nav li.active {
    text-decoration: underline;
}
ul#nav li#brand {
  padding: 14px 16px 14px;
  font-size: 20px;
}

body {
  background-color: #1f1f1f;
  color: #00ff00;
  font-family: "PT Mono", monospace;
}
a {
  color: #00ff00;
}
p {
  margin-bottom: 30px;
  line-height: 20px;
}
a.button {
  position: relative;
  top: 10px;
  border: 1px solid #ff0000;
  padding: 7px;
  text-decoration: none;
}
a.button:hover {
  background-color: #000000;
}
code {
    background-color: #ffffff;
    color: #ff0000;
    font-family: "PT Mono", monospace;
    font-size: 25px;
}
#content {
  padding-top: 25px;
}
#github-note {
    z-index: 999999;
    position: fixed;
    right: 0;
    display: block;
    top: 0;
    border: 3px solid #9edaef;
    background-color: #000000;
    cursor: pointer;
    width: 80px;
    height: 105px;
    border-radius: 15%;
}
#github-note:hover {
    background-color: #9edaef;
    color: #000000;
}
#octocat1 {
    display: block;
    width: 75px;
    height: auto;
    margin: 0 auto -15px auto;
}
#github-note:hover #octocat1 {
    display: none;
}
#octocat2 {
    display: none;
    width: 65px;
    height: auto;
    margin: 0 auto -15px auto;
}
#github-note:hover #octocat2 {
    display: block;
}
#note {
    display: block;
    text-align: center;
    margin: 0 auto;
}

.banner{
    width: 100%;
    background: url('Images/1.JPG') no-repeat fixed  center;
    height: 40vh;
    background-attachment: fixed;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
}

.about{
    padding-top: 50px;
    max-width: 900px;
    margin: auto;
}

.about p{
    line-height: 1.3;
    text-align: center;
}

h1,h2{
    text-align: center;
    color: white;
}

#content a{
    color: #aa0000;
}

#content a:hover{
    color: #ff0000;
}

#content{
    font-size: 20px;
    max-width: 900px;
    margin: auto;
    text-align: center;
    font-family: monospace;
    line-height: 1.5; 
}

.downloadsContent p{
    margin-top: 35px;
    margin-bottom: 45px;
    font-size: 25px;
    line-height: 1.5;
}